:root{
    --clr-primary--900: #4b4b4d;
    --clr-primary--900: #f0f8ff;
    --clr-primary--600: #8abdbe;
    --clr-primary--400: #9bf389;
    --clr-primary--200: #f3a7a7;
    --clr-primary--100: #f7ce9c;
    font-size: 62.5%; /*Permite que 10px=1rem*/

}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
}

body, h1, h2, h3, p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: var(--clr-primary--900);
}

.container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 80rem;
    flex-flow: column nowrap;
    height: 100%;
}
    .header {
        margin: 1rem 0;
        padding: 1rem 1rem 1rem 3rem;
        display: flex;
        background: url(../images/textura-header.jpg);
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        height: 5%;
    }
        .logo {
            display: flex;
            width: 10rem;
        }
            .logo-header {
                display: block;
                width: 100%;
            }
        .social {
            display: flex;
            align-items: center;
            height: 2rem;
        }
        .social a{
            margin: 1rem;
            padding: 1rem;
            color: #5f9ea0;
        }
    .nav-menu{
        height: 3%;
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap:0.1rem;
    }
        .menu{
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--clr-primary--600)
        }
        .menu a:hover{
            color: var(--clr-primary--100)
        }
    .section-menu {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
        .destacado {
            flex: 1 1 auto;
            margin: 1rem 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100%;
            grid-gap: 1rem;
            align-content: center;
            justify-content: center;
            height: auto;
        }
                .destacado li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }           
                .section h3 {
                    color: var(--clr-primary--900);
                }
                .section-uno{
                    background: url(../images/img-seccion-uno.jpg) no-repeat center center/cover;
                }
                .section-dos{
                    background: url(../images/img-seccion-dos.jpg) no-repeat center center/cover;
                }
                .section-tres{
                    background: url(../images/img-seccion-tres.jpg) no-repeat center center/cover;
                }
                .button {
                    background: var(--clr-primary--400);
                }
                .button a{
                    color: var(--clr-primary--900);
                }
        .article-menu {
            flex: 3 1 auto;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
        }
            .article {
                margin: 1rem 0;
                padding: 1rem;
                background: var(--clr-primary--100);
            }
            .article-oscuro {
                background: var(--clr-primary--600);
            }
            .article img {
                width: 100%;
            }
        .footer{
            height: 5%;
            margin: 1rem 0;
            background: var(--clr-primary--200);
        }

        .footer-container {
            list-style: none;
            align-items: center;
            margin: auto;
        }
        
        .footer-container ul {
            justify-content: center;
            display: flex;
            list-style: none;
            align-items: center;
        }
        
        .footer-container ul li {
            padding: 5px 10px;
        }
        
        .footer a {
            font-size: 15px;
            text-decoration: none;
            color: #f1efda;
        }
        


